<div class="jumbotron">
	<h1 class="display-4"><%= circle.name %></h1>
	<p class="lead"><%= circle.phrase %></p>
	<hr class="my-4">
	<%= image_tag circle.image, class: "circle-img" if circle.image.attached?%>
</div>