<% provide(:send_title, "Update Circle") %>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Edit Circle</h2>
      <h5>サークルを編集</h5>
    </div>
    <%= render "form", circle: @circle %>
  </div>
</div>
