<div class="container">
	<h3>検索</h3>
	<%= render "search_form", search: @p %>
	<h3>検索結果</h3>
	<br>
	<% if @circles %>
		<% @circles.each do |circle| %>
			<div class="p-2 bd-highlight circle-list">
				<%= link_to circle.name, circle_path(circle) %>
				<br>
				<%= image_tag circle.image, class: "circle-img" if circle.image.attached?%>
				<%= circle.phrase %>
			</div>
			<br>
		<% end %>
	<% end %>
</div>