<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-4">
			<h1>Circle Of Friends</h1>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-md-3">
			<%= link_to "早速立ち上げる", new_circle_path, class: "btn btn-primary btn-lg active" %>
		</div>
	</div>
</div>